<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CareBeat | Ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group class="acordeon">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>¿Cómo podemos ayudarte?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            Nuestra pulsera te ayuda a saber a qué temperatura se encuentra el área donde guardas tus medicamentos.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Para tener una atención directa marque al: 2381979848
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Debe estar conectado a una red de internet para su uso.
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>¿Cómo se utiliza?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            Deberás portar tu pulsera a donde vayas con una conexión a internet para ver la temperatura en la que se encuentra tus productos framaceuticos.
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>¿Qué hacer si no funciona? </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            Intenta revisar tu conectividad a wifi o verifica que el dispositivo tenga corriente.
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
    <!-- <ion-accordion value="cuarto">
      <ion-item slot="header" color="light">
        <ion-label>Third Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Third Content</div>
    </ion-accordion>
    <ion-accordion value="quinto">
      <ion-item slot="header" color="light">
        <ion-label>Third Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Third Content</div>
    </ion-accordion> -->
  </ion-accordion-group>
  <!-- imagen -->
  <ion-card>
    <img src="../../assets/FAQ.svg" />
  </ion-card>
</ion-content>
