<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CareBeat | Ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group class="acordeon">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>¿Cómo podemos ayudarte?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nuestra pulsera te ayudara a saber cómo es la temperatura que te rodea.
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>¿Cómo se utiliza?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Deberás portar tu pulsera a donde vayas, esta te indicara a que
        temperatura te encuentras.
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>¿Qué hacer si no funciona? </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Sera necesario revisar tu conectividad a wifi o si es que esta mal
        puesta.
      </div>
    </ion-accordion>
    <!-- <ion-accordion value="cuarto">
      <ion-item slot="header" color="light">
        <ion-label>Third Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Third Content</div>
    </ion-accordion>
    <ion-accordion value="quinto">
      <ion-item slot="header" color="light">
        <ion-label>Third Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Third Content</div>
    </ion-accordion> -->
  </ion-accordion-group>
  <!-- imagen -->
  <ion-card>
    <img src="../../assets/FAQ.svg" />
  </ion-card>
</ion-content>
