ion-card{
    font-family: 'Montserrat';
    text-align: center;
    color: black !important;
}
ion-card-subtitle{
    color: black !important;
}
ion-card-title{
    color: black !important;
}
.datos{
    margin: 2%;
}
.datos ion-card{
    box-shadow: 4px 4px rgb(0, 0, 0, 0.3);
}